# A quick introduction to _`pandas`_ dataframe.

### Define the input data

In [ ]:
import pandas as pd

planets_dict = {'Planet': ['Mercury','Venus','Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'],
                'Distance': [36.0, 67.24, 92.9, 141.71, 483.88, 887.14, 1783.98, 2796.46],
                'Diameter': [3032.4, 7519, 7926.2, 4194, 88736, 74978, 32193, 30775]}

### Create a `pandas` dataframe

In [ ]:
df = 

print(df)

You can change the row index to a specific column.

### Set index

In [ ]:
df = 

df.head()

In [ ]:
df.index

### Retrieve values

Select a specific row from the dataframe.

This operation returns a _`pandas`_ series.

A _`pandas`_ series is a one-dimensional labeled array.

Select a specific value from the series.

Directly grab this value from the dataframe.

The format is: `dataframe-name.loc[row-label, column-label]`.

Grab the diameters of _all_ planets. In other words, grab all values from a single column.

This returns a _`pandas`_ series. We can also grab the values from this series.

We can also select multiple columns from the dataframe.

This would retrun a _`pandas`_ dataframe (not a series).

### Iterate through a dataframe

### Delete a dataframe